<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="directive.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="test" ng-controller="testController">
	<div class="content">
		<header class="controls-holder container">
			<div class="numbers-holder">
				<input type="number" placeholder="Min number" ng-model="minNumber" directive-Numbers >
				<input type="number" placeholder="Max number" ng-model="maxNumber" directive-Numbers >
			</div>
			<div class="buttons-holder">
				<button ng-click="classFilter = ''">Show all numbers</button>
				<button ng-click="classFilter = 'even'">Show even numbers</button>
				<button ng-click="classFilter = 'odd'">Show odd numbers</button>
			</div>
		</header>
		<div class="results-space container">
			<div class="buttons-holder">
				<button ng-click="classListDisplay = 'left'">Display on the left</button>
				<button ng-click="classListDisplay = 'right'">Display on the right</button>
			</div>
		</div>

		<div>
			<div class="list" ng-repeat="x in arrayNumbers | filter:filterFn" ng-class="classListDisplay">
				<!-- INSERT THE NUMBERS HERE. YOU ARE ALLOWED THE MODIFY OTHER PARTS OF THE CODE -->
				<span>
					{{ x }}	
				</span>
			</div>
		</div>
	</div>
</body>
</html>